
<nav class="navbar navbar-expand-lg bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">SIAKAD</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if page_active == 'index' %} active {% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if page_active == 'mahasiswa' %} active {% endif %}" href="{{ url_for('mhsapp.mahasiswa') }}">Mahasiswa</a>
                </li>
                
                <li class="nav-item">
                    {% if 'user' in session %}
                    <a class="nav-link {% if page_active == 'login' %} active {% endif %}" href="{{ url_for('authapp.logout') }}">Logout</a>
                    {% else %}
                    <a class="nav-link {% if page_active == 'login' %} active {% endif %}" href="/login">Login</a>
                    {% endif %}
                </li>
            </ul>
            
        </div>
    </div>
</nav>